.root {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/resources/background.jpg");
}
#text {
    -fx-fill: white;
	-fx-font-size: 15pt;
}
#glass-grey {
    -fx-background-color: 
        linear-gradient(#FC9C5D 50%, #DDAD82),
        radial-gradient(center 50% -40%, radius 150%, #C2AB8D 45%, rgba(0, 0, 0, 0) 75%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: white;	
    -fx-pref-width: 25px;

}
#menu-button {
    -fx-background-color: linear-gradient(#FC9C5D, #DDAD82);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-pref-width: 125px;
}
